.chart-plan-fact {
    position: relative;
}

.chart-plan-fact .amcharts-balloon-div {
    top: auto !important;
    bottom: 60px !important;
    /*font-weight: bold;*/
    /*background: #eee;*/
    /*background: red;*/
}

.chart-plan-fact .popup {
    display: none;
    font-size: 13px;
    position: absolute;
    top: 40px;
    color: #616161;
}

.chart-plan-fact .popup > div:first-child {
    margin-right: 20px;
    display: inline-block;
    line-height: 21px;
}
.chart-plan-fact .popup > div:last-child {
    display: inline-block;
    line-height: 22px;
    text-align: right;
}
.chart-plan-fact .popup .sum {
    font-size: 19px;
}