.chart-analytics {
    background: #f5f5f5;
    padding: 18px;
    color: #616161;
}
.chart-analytics table {
    width: 100%;
}

.chart-analytics td {
    vertical-align: top;
}
.chart-analytics td:first-child {
    text-align: right;
    width: 200px;
    padding-right: 20px;
    height: 76px;
}
.chart-analytics tr:last-child td:first-child {
    height: auto;
}
.chart-analytics td:last-child {
    padding: 0 20px 0 0;
}

.chart-analytics .bar {
    height: 20px;
    margin-bottom: 10px;
    position: relative;
    width: 0;
    transition: width 500ms;
}
.chart-analytics .bar > div {
    position: absolute;
    right: -20px;
    border-right: 20px solid transparent !important;
    border-top: 20px solid;
}

.chart-analytics .descr {
    color: #9e9e9e;
}

.chart-analytics .percent {
    font-size: 28px;
}
